:root {
  --color-primary: #6aeeb5;
  --color-primary-hover: #29e6a7;
  --color-gray-100: #f0f7f8;
  --color-gray-200: #cfd8dc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-200);
}