:root {
  --color-primary: #DE3C4B;
  --color-primary-dark: #D12335;
  --color-primary-darkest: #9D1B28;
  --color-primary-hover: #C02130;

  --color-neutral-100: #EDE9E8;
  --color-neutral-200: #E4DEDD;
  --color-neutral-900: #2F131E;

  --radius: .25rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: .5rem 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-neutral-100);
  border-bottom: 1px solid var(--color-neutral-200);
  align-items: center;
}

ul.nav .nav-item {
  margin: 0 .75rem;
}

ul.nav .nav-item a {
  text-decoration: none;
  color: var(--color-neutral-900);
  transition: all 200ms ease-in-out;
}

ul.nav .nav-item a:hover {
  color: var(--color-primary-dark);
}

ul.nav .nav-item:first-child {
  margin-right: auto;
}

.nav-logo {
  border-color: var(--color-primary-dark)
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-neutral-100);
  padding: .5rem 1rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  transition: all 200ms ease-in-out;
}